


/* BODY */

body{
  background-image: linear-gradient(to right, #0b8793, #360033);
  /* padding: 50px 0px 0px 0px; */
  z-index: 0;
}

/* HEADER */

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  color: rgb(79, 7, 88);
  background-image: url(../img/banner.jpeg);
  background-size: cover;
  height: 50vh;
}

.jumbotron__img-fluid{
  transform: translate(-20px, 0px);
  width: 300px;
}

/* END HEADER */

/* MAIN */


/* CAROUSEL */
.carousel{
  height: 200%;
}

.carousel-item {
  max-height: 620px;
}

.carousel-caption {
  font-weight: bolder;
  color: rgb(180, 62, 190);
}



/* END CAROUSEL */

.tab-content {
  padding-top: 20px;
}
/* END MAIN */
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }
  
  .footer {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    margin: 0px auto;
    padding: 20px 0px; }
  


  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; }
  
.navbar-dark {
  background-color: #512DA8; 
}
  
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; }
  

  
  .modal-header {
    background: #512DA8;
    color: floralwhite; }
  
  .close {
    color: floralwhite; }
  
  .modal-body {
    background: #D1C4E9; 
  }


/* MEDIA QUERIES */

@media (max-width: 576px) {
  .jumbotron__img-fluid{
    transform: translate(-20px, 0px);
  }
  .jumbotron{
    background-size: cover;
  }
}

/* END MEDIA QUERIES */