/* BODY */

body{
    background-image: linear-gradient(to right, #0b8793, #360033);
    z-index: 0;
}

/* NAVBAR */

.navbar-light{
    background-color: rgba(7, 8, 90, 0.67);
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover{
    color: rgb(197, 190, 162) !important;
}


.navbar-toggler{
    background-color: rgba(54, 55, 151, 0.67) !important;
}


.navbar-brand{
    color: #fff !important;
}

/* END NAVBAR */

/* MAIN */

.contenedor {
    background-image: url(../img/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.logo-img {
    height: 200px;
    width: 500px;
    margin-top: 70px; 
    transform: translate(0%, 0%);
}

.subtitulo--modif {
    color: rgb(255, 2, 150);
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin-top: 200px;
    margin-left: 100px;
    font-size: larger;
    position: absolute;
    transform: translate(100%, -500%);
}

#funciona, #info, #como{
    color: #fff;
}

ol{
    margin-top: 20%;
}

.jumbotron {
    background-color: #6699ff;
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  
  .btn {
    background-color: #7a13be;
    border-color: #7a13be;
    margin: 20px;
  }
  
.btn:hover{
    background-color: #9739d6;
    border-color: #9739d6;
}
  .banner {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0% !important;
  }
  
/* TRANSACTIONS */

/* BANNER, LOGO, SUBTITULO */

.contenedor__transacciones{
    background-image: url(../img/bg-cuentas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
    background-position-x:right;
}


/* END BANNER, LOGO, SUBTITULO */



/* ACCORDION */

.transacciones-titulo{
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.row-content{
    position: relative;
    width: 100%;
}

.columna{
    position: relative;
    transform: translate(50%, 0%);
}

.card{
    background-color: #530f81;
}

.card-body{
    background-color: #fff;
}
#accordion a {
    text-decoration: none;
  }
.a{
    color: #007bff;
}
.a:hover{
    color: #1769c2 !important;
}

/* END ACCORDION */

/* END TRANSACTIONS */

/* FOOTER */

  footer {
    padding: 0% !important;
    background: linear-gradient(to left, #2193b0, #6dd5ed);
    margin-top: 150px;
  }

  .col-item{
      color: #fff;
      margin-top: 10px;
      text-decoration: none;
  }

.col-item:hover{
    text-decoration: none;
    color: rgb(184, 32, 108);
}
/* END FOOTER */


  .fab {
    color: white;
  }
  
  .footer-address-icon {
    padding-right: 10px;
  }
  
  address {
    color: white;
  }
  .carousel-item {
    max-height: 620px;
  }
  
  .carousel-caption {
    font-weight: bolder;
    color: cornsilk;
  }
  
 
  
  .tab-content {
    padding-top: 20px;
  }
  
/* SERVICES */

/* BANNER, LOGO, SUBTITULO */

.contenedor__servicios{
    background-image: url(../img/Accounting-Skills-You-Need-to-Succeed-on-the-Job-AT-Blog-05-26-20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
}

/* END BANNER, LOGO, SUBTITULO */
.container{
    margin-top: 50px;
    color: #fff;
}



.billetera{
    width: 50%;
}

.billetera a{
    text-decoration: none;
    align-items: center;
}

.btn-primary{
    transform: translate(50%, 0%);
}
  
/* END SERVICES */

/* WALLET */

/* BANNER, LOGO, SUBTITULO */

.contenedor__billetera{
    background-image: url(../img/openbankingfuture.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
}

/* END BANNER, LOGO, SUBTITULO */


.container-info{
    margin-top: 10px;
    margin-bottom: 20px;
}

.app_billetera a{
    text-decoration: none;
    align-items: center;
}

.app_billetera{
    width: 50%;
    margin-top: 30px;
}

.subtitulo--modificado{
    color: rgb(79, 7, 88);
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin-top: 200px;
    margin-left: 100px;
    font-size: larger;
    position: absolute;
    transform: translate(-5%, -200%);
}

/* END WALLET */

/* APPBILLETERA */

.contenedor__app{
    background-image: url(../img/portadaEmpresasTarjetas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.wallet_img{
    width: 20%;
    transform: translate(100%, 0%);
}

.section{
    color: #fff;
    margin-left: 40px;
    margin-top: 40px;
}

.information{
    text-align: center;
}

.contenedor-p{
    margin-top: 20px;
}

.info-lista{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* END APPBILLETERA */

/* ABOUT */

/* BANNER, LOGO, SUBTITULO */

.contenedor__nosotros{
    background-image: url(../img/Our+Story-overview-simg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
}

/* END BANNER, LOGO, SUBTITULO */

.image{
    width: 40%;
}

.btn-enviar{
    background-color: #7a13be !important;
    border-color: #7a13be;
    color: #6699ff !important;
}
  
.btn-enviar:hover{
    background-color: #9739d6 !important;
    border-color: #9739d6;
    color: #1769c2 !important;
}

/* END ABOUT */

/* CONTACTUS */

.contenedor__contacto{
    background-image: url(../img/it_jobs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
}


/* END CONTACTUS */

/* MEDIA QUERIES */
@media (max-width: 576px) {
    .logo-img { 
        height: 100px;
        width: 300px;
        transform: translate(-2%, 30%);
    }
    .subtitulo--modif {
        font-size: medium;
        transform: translate(-8%, 0%);
    
      }
}


@media (max-width: 576px) { 
    .columna{
        transform: translate(-0.2%, 0%);
        margin-left: 28px;
    }
}

@media (max-width: 600px) {
    .contenedor__app {
        background-image: url(../img/bg-sub-servicio.jpg);
        background-size: inherit;
        background-position-x:right;
        height: 100%;
    }

    .subtitulo--modificado{
        opacity: 0;
    }
    .logo-img{
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {
    .contenedor__app {
        background-image: url(../img/bg-sub-servicio.jpg);
        background-size: inherit;
        background-position-x:right;
        height: 200%;
    }
    .subtitulo--modificado{
        opacity: 0;
    }
    .logo-img {
        
        margin-top: 40px; 
        
    }
}

@media (max-width: 1050px){
    .contenedor__app{
        background-image: url(../img/portadaEmpresasTarjetas.jpg);
        background-size: cover;
        background-position-x:right;
    }
    .logo-img{
        transform: translate(0%, 30%);
    }
}


@media (max-width: 600px){
    .billetera{
        width: 80%;
    }
    .btn-primary{

        transform: translate(4%, 0%);
    }
}

@media (max-width: 600px){
    .app_billetera{
        width: 80%;
    }
    .btn-primary{

        transform: translate(4%, 0%);
    }
    .subtitulo--modificado{
        transform: translate(-20%, -200%);
    }
}

@media (max-width: 600px){
    .wallet_img{
        width: 80%;
        transform: translate(-2%, 0%);
    }
    .information{
        text-align: center;
    }
    
    .section{
        margin-left: 10px;
        margin-top: 40px;
    }
    .contenedor-p{
        margin-right: 5px;
    }
    .titulo-cent{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media (max-width: 600px){
    .image{
        width: 80%;
    }
}

/* END MEDIA QUERIES */