/* ABOUT */

/* BANNER, LOGO, SUBTITULO */

.contenedor__nosotros{
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
    background-position-y: 50%;
}

.container__2{
    font-family: $font-family-1;
}
/* END BANNER, LOGO, SUBTITULO */

.image{
    width: 80%;
}

.p{
    margin-top: 5rem;
}



/* END ABOUT */