/* APPBILLETERA */

/* MODAL */

.modal-container{
    height: 100%;
    width: 50%;
}

.modal-body{
    height: 100%;
}

.modal-footer{
    background-color: #fff;
}

/* END MODAL */

.tituloBilletera{
    $font-family-2: 'Ruda', sans-serif;
    margin: 2rem;
}
.contenedor__app{
    background-image: url(../img/portadaEmpresasTarjetas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.wallet_img{
    width: 70%;
}

.section{
    color: #fff;
    margin-left: 40px;
    margin-top: 40px;
}

.information{
    margin-top: 10rem;
    font-family: $font-family-1;
}

.contenedor-p{
    margin-top: 2rem;
}

.info-lista{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
    font-family: $font-family-1;
}


.titulo-cent{
    font-family: $font-family-1;
    margin-left: 8rem;
}

/* END APPBILLETERA */