/* CONTACTUS */

.contenedor__contacto{
    background-image: url(../img/it_jobs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
    background-position-y: 50%;
}

.container__feed{
    font-family: $font-family-1;
}

/* END CONTACTUS */
