/* MEDIA QUERIES */

@media (min-width: 500px){
    .modal-dialog {
        max-width: 400px;
    }
    .modal-content {
        padding: 1rem;
    }
    .modal-header {
        
        margin-top: -1.5rem;
    }
    .form-title {
        margin: -2rem 0rem 2rem;
    }
    .btn-round {
        border-radius: 3rem;
    }
    .delimiter {
        padding: 1rem;  
    }
    .social-buttons {
        margin: 0 0.5rem 1rem;
    }
    .signup-section {
        padding: 0.3rem 0rem;
    } 
}

@media (max-width: 576px) { 
    .columna{
        transform: translate(-0.2%, 0%);
        margin-left: 28px;
    }
    .titulo-index{
        font-size: 1rem;
    }
    .titulo-transacciones{
        font-size: 1rem;
    }
    .transacciones-titulo{
        font-size: 1rem;
    }
    .titulo-servicios{
        font-size: 1rem;
    }
    .titulo-billetera{
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 600px){
    .image{
        width: 80%;
    }
    .contenedor__servicios{
        background-image: url(../img/contenedor_servicios.jpg);
        background-size: cover;
        background-position-x:right;
        height: 100%;
    }
    .subtitulo--modif{
        opacity: 0;
    }
    .contenedor__app {
        background-image: url(../img/bg-sub-servicio.jpg);
        background-size: inherit;
        background-position-x:right;
        height: 100%;
    }

    .subtitulo--modificado{
        opacity: 0;
    }
    .logo-img{
        margin-bottom: 40px;
    }
    .billetera{
        width: 80%;
    }

    .app_billetera{
        width: 80%;
    }

    .wallet_img{
        width: 80%;
        margin: 0 auto;
    }
    .information{
        font-size: 1.5rem;
    }
    
    .section{
        margin-left: 10px;
        margin-top: 40px;
    }
    .contenedor-p{
        margin-right: 5px;
    }
    .titulo-cent{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .contenedor__transacciones{
        background-image: url(../img/bg-cuentas.jpg);
        background-size: cover;
        background-position-x: right;
        object-fit: cover;
        height: 100%;
    }
    .titulo-name{
        margin: 0.5rem;
    }
    .contenedor__contacto{
        background-image: url(../img/contacto.jpg);
        background-size: cover;
        background-position-x:right;
        height: 100%;
    }
    .contenedor__billetera{
        background-image: url(../img/wallet2.jpg);
        background-size: cover;
        background-position-x: center;
        object-fit: cover;
    }
    .contenedor__nosotros{
        background-image: url(../img/nosotros.jpg);
        background-size: cover;
        background-position-x: left;
        height: 100%;
    }
    .contenedor__index {
        background-image: url(../img/banner2.jpg);
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }
    .subtitulo--modif {
        opacity: 0;
    } 
    .titulo-name {
        font-size: 50px;
        margin: 0 auto;
    }
    .contenedor__app{
        background-image: url(../img/app.png);
        background-size: cover;
        background-position: center center;
        height: 100%;

    }
    .titulo-wallet{
        font-size: 20px;
        text-align: center;
    }
    .tituloPrincipal{
        font-size: 1.5rem;
    }
    .titulo{
        margin: 0 auto !important;
    }
    
}

@media (min-width: 601px) and (max-width: 800px){
    .contenedor__index {
        background-image: url(../img/banner2.jpg);
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }
    .titulo-name {
        font-size: 50px;
        margin-right: 8rem;
    }
    .contenedor__app{
        background-image: url(../img/app.png);
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    .contenedor__transacciones{
        background-size: cover;
        background-position-x: right;
        object-fit: cover;
        height: 100%;
    }
    
}

@media (min-width: 700px) and (max-width: 1000px){
    .contenedor__servicios{
        background-image: url(../img/servicios.jpg);
        background-size: cover;
        background-position-x:right;
    }
    .btn-enviar{
        width: auto;
    }
}

@media (min-width: 768px) and (max-width:1022px){
    .titulo-name {
        font-size: 100px !important;
        margin-right: 5rem;
    }
}

@media (min-width: 1023px) and (max-width: 1438px){
    .titulo-name {
        margin-bottom: 4rem;
        font-size: 8rem !important;
        margin-left: 40rem;
    }
    .subtitulo--modif{
        font-size: 2rem;
        top: 2px;
    }
    .contenedor__index {
        background-size: cover;
        background-position-x: 70%;
        height: 100%;
    }
}

@media (max-width: 1441px){
    img.logo-lane{ 
        display: none !important;
    }
    .subtitulo--modificado{
        font-size: 3rem !important;
        margin-bottom: 5rem;
    }
    .btn-enviar{
        width: auto;
    }

}

@media (min-width: 1439px){
    .titulo-name {
        font-size: 10rem !important;
        margin-left: 40rem;
    }
    .contenedor__transacciones{
        background-size: cover;
        background-position-x: center;
        object-fit: cover;
    }
    .btn-enviar{
        width: auto;
    }
}

/* END MEDIA QUERIES */