/* NAVBAR */

.navbar-light{
    background-color: rgba(7, 8, 90, 0.67);
    top: 0;
    left: 0;
    width: 100%;
    
}

.nav-link {
    color: #fff !important;
    font-family: $font-family-1;
}

.nav-link:hover{
    color: rgb(197, 190, 162) !important;
}


.navbar-toggler{
    background-color: rgba(54, 55, 151, 0.67) !important;
}


.navbar-brand{
    color: #fff !important;
}


.logotipo{
    height: 30px;
}

.lane{
    text-decoration: none !important;
}

#login-button{
    color: #6699ff;
    text-decoration: none;
}

/* END NAVBAR */