/* SERVICES */

/* BANNER, LOGO, SUBTITULO */

.contenedor__servicios{
    background-image: url(../img/services2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    font-family: $font-family-1;
    background-position-y: bottom;
}

/* END BANNER, LOGO, SUBTITULO */
.container{
    padding-top: 50px; 
    color: #fff;
}

.billetera{
    width: 50%;
}

.billetera a{
    text-decoration: none;
    align-items: center;
    font-family: $font-family-1;
}

/* CARDS */

.shadow-lg{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3) !important;
}

.card-title{
    color: #1769c2;
}

.card-text{
    color: #7a13be;
}

.card-subtitle{
    color: #1769c2;
    margin-bottom: 10px;
}

.span-subtitle{
    color: #7a13be;
}

.card-subtitle--modif{
    color: #1769c2;
    margin-bottom: 10px;
    margin-top: 20px;
}

.asterisco{
    color: darkgrey;
    font-weight: 600;
}

a.a{
    text-decoration: none !important;
    color: $color-btn !important;
    font-family: $font-family-1;
}

a.a:hover{
    background-color: $btn-hover;
    border-color: $btn-hover;
    color: $color-hover !important;
    font-weight: 900;
}

.card-img-top{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.card-title--modif{
    color: #1769c2;
}

.rounded{
    background-color: transparent;
}
/* MODAL */



/* END MODAL */
/* END CARDS */

.titulo-servicios{
    font-family: $font-family-2;
    font-size: 3rem;
}

/* END SERVICES */
