/* TRANSACTIONS */

/* BANNER, LOGO, SUBTITULO */

.contenedor__transacciones{
    background-image: url(../img/bank.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
    font-family: $font-family-1;
    background-position-y: 100%;

}


/* END BANNER, LOGO, SUBTITULO */

/* ACCORDION */

.transacciones-titulo{
    color: #fff;
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: center;
    font-family: $font-family-1;
}

.row-content{
    position: relative;
    width: 100%;
}

.columna{
    position: relative;
    transform: translate(50%, 0%);
}

.card{
    background-color: transparent;
    box-shadow: 10px 10px 10px 10px #00000042;
}

.card-body{
    background-color: transparent;
    color: #fff;
}
#accordion a {
    text-decoration: none;
}

.colapsado{
    color: rgb(40, 15, 63) !important;
}

.colapsado:hover{
    color: rgb(17, 0, 144) !important;
}

/* END ACCORDION */

/* END TRANSACTIONS */