/* ABOUT */

$btn-enviar: #7a13be;
$color-btn: #6699ff;
$btn-hover: #9739d6;
$color-hover: #1769c2;
/* END ABOUT */

/* FONT FAMILY */
$font-family-1: "Inter", sans-serif;
$font-family-2: 'Ruda', sans-serif;
/* END FONT FAMILY */

/* MAIN */

$color: rgb(255, 2, 107);

/* END MAIN */