/* ABOUT */

$btn-enviar: #5a0990;
$color-btn: #fff;
$btn-hover: #8552a7;
$color-hover: #003062;
/* END ABOUT */

/* FONT FAMILY */
$font-family-1: "Inter", sans-serif;
$font-family-2: 'Ruda', sans-serif;
/* END FONT FAMILY */

/* MAIN */

$color: rgb(255, 2, 107);

/* END MAIN */