/* WALLET */


/* BANNER, LOGO, SUBTITULO */

.contenedor__billetera{
    background-image: url(../img/wallet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    position: relative;
    background-position-y: 60%;
}

/* END BANNER, LOGO, SUBTITULO */

.titulo-wallet{
    font-family: $font-family-2;
    margin: 2rem;
}

.subtitulo--modificado{
    position: relative;
    top: 0;
    bottom: 0;
    color: $color;
    font-family: $font-family-2;
    margin-top: 60rem;
    font-size: 3rem;
    opacity: 1;
    text-shadow: 2px 2px 4px #000000;
}

.container-info{
    margin-top: 10px;
    margin-bottom: 20px;
}

.app_billetera a{
    text-decoration: none;
    align-items: center;
}

.app_billetera{
    width: 50%;
    margin-top: 30px;
}

.subtitulo--modificado{
    color: rgb(255, 1, 128);
    font-family: $font-family-2;
    margin-left: 50px;
    font-size: larger;
}

a.link-text{
    text-decoration: none !important;
    color: $color-btn !important;
    font-family: $font-family-1;
}

a.link-text:hover{
    background-color: $btn-hover;
    border-color: $btn-hover;
    color: $color-hover !important;
    font-weight: 900;
}

.tituloPrincipal{
    font-family: $font-family-1;
    color: #fff;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.textoP{
    font-family: $font-family-1;
    color: #fff;
    margin-bottom: 2rem;
}

.ul{
    @extend.textoP;
}

.pAsterisco{
    color: rgb(140, 141, 141);
    margin-bottom: 2rem;
}

/* END WALLET */