

/* -- INDEX -- */

.myslideshow{
    display: grid;
    grid-template-columns: 20%;
}

.gallery {
    display: flex;
    flex-direction: column;
    margin: 40px;
    border: 1px solid #ccc;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
  
.gallery:hover {
    border: 1px solid #777;
    width: 70%;
}
  
.gallery .img {
    width: 100%;
}

.desc {
    padding: 15px;
    text-align: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.container_cot{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container_cot .cot{
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;
}

.table .fila{
    font-family: 'Inter', sans-serif;
    color: #fff;
}



.table .fila1{
    color: #fff;
    font-family: $fam-fuente;
    align-items: flex-end;
}

.table .fila2{
    color: #fff;
    font-family: $fam-fuente;
    align-items: flex-end;
}
/* BEM */
.contenedor{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.card{
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    font-family: $fam-fuente;
}

.card__thumbnail{
    width: 650px;
    height: 200px;
    background: #000;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}

.card__enlace--negrita{
    font-weight: 900;
    color: #000;
}

.card__img{
    width: 100%;
}

.card__textos{
    margin-top: 20px;
}

.card__titulo{
    font-family: $fam-fuente;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.card__extracto--gris{
    line-height: 28px;
    color: #6d6d6d;
    margin-bottom: 20px;
}

.boton{
    border: none;
    min-width: 160px;
    height: 50px;
    padding: 0 30px;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(95, 91, 211);
    transition: .3s ease all;
}

.boton__texto{
    font-family: $fam-fuente;
}

.boton--absolute{
    position: absolute;
    right: 20px;
    bottom: 25px;
}

.boton--azul:hover{
    text-decoration: none;
    background: rgb(69, 171, 255);
}
/* END BEM */
/* END INDEX */